#pre-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: 150% 150%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 99999999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.fa_icons {
  font-size: 34px !important;
  color: white;
  margin: 6px;
}

.fa_icons:hover {
  color: #969696;
}

body {
  overflow-x: hidden;
}

p {
  padding: 0px;
  margin: 0px;
}

.fontSize_1 {
  font-weight: bold;
}

.fontSize_2 {
  font-weight: bold;
}

.fontSize_3 {
  font-weight: bold;
}

.about_div_box {
  margin-top: 6%;
}

.hero_section {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #1d5591), color-stop(140%, #000));
  background-image: linear-gradient(#1d5591 5%, #000 140%);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 5px solid #c69afb;
}

.fontSize_1 {
  font-size: 2rem;
}

h1 {
  margin: 0px;
}

.div_h1 {
  line-height: .9;
  position: absolute;
  color: #f9f1cc;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Arial;
}

.hero_button_div {
  margin-top: 1.8%;
}

.div_button {
  border: 3px solid;
  background-color: #fff0;
  padding: 12px 48px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 21px;
}

.about_section {
  margin-top: 3%;
  width: 100%;
}

.about_section .about_head_text {
  margin-bottom: 1%;
}

.about_section .about_head_text:after {
  content: '';
  background: red;
  width: 45px;
  height: 6px;
  display: block;
  position: absolute;
  overflow: hidden;
  bottom: -5px;
  left: calc(50% - 20px);
}

.about_section .card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

.my_img_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill_set_section {
  margin-top: 8%;
}

.skill_set_section p {
  padding: 0px;
  margin: 0px;
  line-height: 1.8;
  font-size: 16px;
}

.skill_set_section h5 {
  margin-top: 10%;
  margin-bottom: 5%;
}

.other_skills {
  background-color: #fcfcfc;
  padding-top: 1%;
  margin-top: 4%;
  padding-bottom: 4%;
}

.other_skills_head_text {
  margin-bottom: 1%;
}

.other_skills_head_text:after {
  content: '';
  background: red;
  width: 45px;
  height: 6px;
  display: block;
  position: absolute;
  overflow: hidden;
  bottom: -5px;
  left: calc(50% - 20px);
}

.other_skills_head_text p {
  color: #616161;
}

.contact_head_text {
  color: white;
}

.contact_head_text:after {
  content: '';
  background: red;
  width: 45px;
  height: 6px;
  display: block;
  position: absolute;
  overflow: hidden;
  bottom: -5px;
  left: calc(50% - 20px);
}

.my_works_section {
  margin-top: 2%;
  margin-bottom: 3%;
}

.my_works_section .skill_card_parent .card {
  min-height: 344px;
  padding: 16px;
  max-height: 730px;
}

.my_works_section .skill_card_parent .card .card-title {
  width: 132px;
  text-align: center;
  margin: auto;
}

.skill_card_parent {
  margin-top: 5%;
  margin-bottom: 1%;
}

.card {
  border: none;
  -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
          box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
  height: 100%;
}

.card .card-title {
  margin-bottom: 1.75rem;
}

.card .card_text {
  margin-top: 3%;
}

.card .About_title {
  margin-top: 10%;
}

.card_div {
  min-height: 344px;
  padding: 16px;
  max-height: 730px;
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #1d5591), color-stop(170%, #000));
  background-image: linear-gradient(#1d5591 5%, #000 170%);
  padding-top: 0.1%;
}

.contact .container {
  margin-top: 0%;
}

.contact .container .row {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_sesstion {
  height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(504%, #0f253c), color-stop(500%, #0d253f));
  background-image: linear-gradient(#0f253c 504%, #0d253f 500%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_sesstion footer p {
  color: white;
}

.btn_submit {
  background-color: transparent;
  padding: 14px 70px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.animated_progress {
  margin-top: 20px;
}

.progress-bar {
  cursor: pointer;
  background-color: #0d2641;
}

.progress-bar:hover {
  background-color: #12355a;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fontSize_1 {
    font-size: 1.9rem;
  }
  .fontSize_2 {
    font-size: 1.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .fontSize_3 {
    font-size: 1.2rem;
  }
  .card_text {
    margin-bottom: 3%;
  }
  .btn_submit_div_class {
    margin-top: 8%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fontSize_1 {
    font-size: 1.9rem;
  }
  .fontSize_2 {
    font-size: 1.9rem;
  }
  .fontSize_3 {
    font-size: 1.2rem;
  }
  .card_text {
    margin-bottom: 3%;
  }
  .contact {
    padding-bottom: 1%;
    padding-top: 1%;
  }
  .btn_submit_div_class {
    margin-top: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .btn {
    float: right;
    padding: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=styles.css.map */